.video {
  max-width: 400px;
  height: 310px;
  background-color: #efefef;
  /* border: 1px solid #e5e5e5; */
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  padding-bottom: 1rem;
  box-shadow: 0 0 15px 0 #8888884f;
  border: 1px solid #61dafb;
}

.video:hover {
  /* box-shadow: 0 0 25px 0 #e5e5e5; */
  box-shadow: 0 0 25px 0 #888888;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.video p {
  font-size: 16px;
  font-weight: 500;
  margin: 0.5rem 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.video img {
  width: 100%;
  object-fit: cover;
  /* box-shadow: 0 0 25px 0 #8888884f; */
}

.video .qmeta {
  display: flex;
  justify-content: space-between;
  padding-right: 6px;
}

.video .qmeta p {
  font-size: 15px;
  font-weight: 400;
}

.pscore {
  color: green;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .video {
    width: 100%;
  }
}
